swagger: "2.0"
info:
  description: "API of EtuEDT-Deno server."
  version: "2.0.0"
  title: "EtuEDT-Deno"
host: "edtapi.antoninhuaut.fr"
basePath: "/"
schemes:
- "https"
paths:
  /v2/:
    get:
      tags:
      - "schedule"
      summary: "Get the list of universities"
      produces:
      - "application/json"
      responses:
        "200":
          description: "Successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/University"
  /v2/{numUniv}:
    get:
      tags:
      - "schedule"
      summary: "Get a list of the university's timetables"
      produces:
      - "application/json"
      parameters:
      - name: "numUniv"
        in: "path"
        description: "Id of university"
        required: true
        type: "integer"
      responses:
        "200":
          description: "Successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Schedule"
        "404":
          description: "Invalid numUniv"
          schema:
            type: "object"
  /v2/{numUniv}/{adeResources}:
    get:
      tags:
      - "schedule"
      summary: "Get schedule details by numUniv and adeResource"
      produces:
      - "application/json"
      parameters:
      - name: "numUniv"
        in: "path"
        description: "Id of university"
        required: true
        type: "integer"
      - name: "adeResources"
        in: "path"
        description: "Id of timetable"
        required: true
        type: "integer"
      responses:
        "200":
          description: "Successful operation"
          schema:
            $ref: "#/definitions/Schedule"
        "404":
          description: "Invalid parameters"
          schema:
            type: "object"
  /v2/{numUniv}/{adeResources}/{format}:
    get:
      tags:
      - "schedule"
      summary: "Get schedule by numUniv, adeResources and by format"
      produces:
      - "application/json"
      - "text/calendar"
      parameters:
      - name: "numUniv"
        in: "path"
        description: "Id of university"
        required: true
        type: "integer"
      - name: "adeResources"
        in: "path"
        description: "Id of timetable"
        required: true
        type: "integer"
      - name: "format"
        in: "path"
        description: "Format to return"
        required: true
        type: "string"
        enum: ['ics', 'json']
      responses:
        "200":
          description: "Successful operation"
        "404":
          description: "Invalid parameters"
definitions:
  University:
    type: "object"
    properties:
      numUniv:
        type: "integer"
        example: 1
      nameUniv:
        type: "string"
        example: "Université de Caen"
      adeUniv:
        type: "string"
        example: "http://ade.unicaen.fr"
  Schedule:
    type: "object"
    properties:
      numUniv:
        type: "integer"
        example: 1
      nameUniv:
        type: "string"
        example: "Université de Caen"
      nameTT:
        type: "string"
        example: "1A TP 1.1"
      numYearTT:
        type: "integer"
        example: 1
      descTT:
        type: "string"
        example: "TP 1.1"
      adeResources:
        type: "integer"
        example: 1177
      adeProjectId:
        type: "integer"
        example: 4
      lastUpdate:
        type: "string"
        example: "2020-06-16T07:14:34.017Z"